/* custom reset based on :
/* normalize.css http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

:focus {
  outline: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

p {
  margin-top: 0; }

a:focus, a:active,
a:hover {
  outline: 0; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

.map img {max-width:none}

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "BenchNine", "Arial Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px; }

.clearfix {
  overflow: hidden; }

a {
  text-decoration: none; }

h1 {
  font-size: 1.55em; }

strong {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em; }

img {
  display: block;
  margin: 1em auto;
  clear: both; }

.special {
  font-family: "Handlee", "Arial Narrow", sans-serif;
  text-align: center;
  font-weight: 400; }

.social a {
  display: inline-block;
  margin: 0 0.05em 0.1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 100%;
  vertical-align: middle;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.meta {
  position: relative;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .meta .time {
    font-size: 2em;
    display: inline-block;
    height: 1.5em;
    padding-top: .3em; }

.meta, .container, footer {
  width: 100%;
  min-width: 320px;
  margin: 0 auto; }

.no-csstransforms3d .meta, .no-csstransforms3d .container, .no-csstransforms3d footer {
  max-width: 680px; }

.container > .flip > .front {
  border-top: 0;
  padding-top: 1em;
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase; }
  .container > .flip > .front img {
    border-radius: 100%;
    overflow: hidden; }

header, h2.title {
  font-size: 1.2em;
  text-transform: uppercase; }

h2.title {
  text-align: center;
  margin: 0.5em auto; }

.big-icon {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5em;
  line-height: 60px;
  margin: 0 auto;
  display: block; }

#lid, .flip-me, #open-l, #close-l, .page-right .front {
  display: none; }

#letter p {
  margin-bottom: .5em; }
  #letter p.hour, #letter p.address {
    text-align: center;
    margin: 0; }
#letter .page-left .front {
  text-align: center;
  text-transform: uppercase; }
  #letter .page-left .front .front-content {
    width: 300px;
    margin: 0 auto; }
  #letter .page-left .front p {
    font-size: 1.6em;
    margin: 0; }
  #letter .page-left .front .time {
    font-size: 3.5em; }
  #letter .page-left .front .special {
    text-transform: none;
    margin-top: .5em; }

.page-left .front, .page-left .back, .page-middle, .page-right .front, .page-right .back {
  padding: 30px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page-content {
  padding: 0 0 2em; }

.personal-info {
  padding: 1em 0 0.2em; }
  .personal-info.left {
    float: left;
    text-align: left; }
  .personal-info.right {
    float: right;
    text-align: right; }
  .personal-info span {
    display: block; }
    .personal-info span.first-name {
      font-size: 1.2em; }

.us {
  position: relative;
  padding-top: .4em; }

.us:before {
  content: "";
  position: absolute;
  height: 2px;
  top: 0;
  left: 2em;
  right: 2em; }

.hour {
  margin: 0; }

.page-right .back .special {
  font-size: 1.2em;
  text-align: center; }
.page-right .back .rsvp p {
  text-align: center; }
.page-right .back .registry {
  padding-bottom: .5em; }
  .page-right .back .registry ul {
    list-style: none;
    margin: .25em;
    background: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 3px rgba(0, 0, 0, 0.02); }
  .page-right .back .registry li {
    display: block;
    margin: .5em; }
    .page-right .back .registry li a img {
      vertical-align: middle;
      margin: 0 auto; }

footer {
  text-align: center;
  font-size: .8em;
  padding: 0.5em 0; }

/*-----------------------------------------------------------------*/
/*------------------------- 	MEDIA QUERIES  ----------------------*/
/*-----------------------------------------------------------------*/
@media only screen and (max-width: 1139px), only screen and (max-height: 759px) {
  .meta, .container, footer {
    max-width: 680px; } }
@media only screen and (min-width: 480px) {
  .page-left .front, .page-left .back, .page-middle, .page-right .front, .page-right .back {
    padding: 30px; } }
@media only screen and (min-width: 620px) {
  .meta, .container, footer {
    width: 70%; }

  header, h2.title {
    font-size: 1.6em; } }
@media only screen and (min-width: 1140px) and (min-height: 760px) {
  .csstransforms3d body {
    overflow: hidden; }
  .csstransforms3d .meta {
    width: 100%;
    background: transparent;
    border: 0;
    height: 1.5em; }
    .csstransforms3d .meta .time {
      margin: 0;
      height: 1.1em;
      position: relative;
      padding: 0.2em 1em; }
  .csstransforms3d .social {
    position: absolute;
    top: 5px;
    right: 5px; }
  .csstransforms3d .container {
    position: absolute;
    left: 50%;
    margin-left: -350px;
    top: 50%;
    margin-top: -190px;
    width: 700px;
    height: 380px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transition: 1s 0s;
    -moz-transition: 1s 0s;
    transition: 1s 0s; }
  .csstransforms3d .small-scr {
    display: none; }
  .csstransforms3d .container.back-face {
    top: 100%;
    margin-top: 190px;
    -webkit-transition: 1s 1.45s;
    -moz-transition: 1s 1.45s;
    transition: 1s 1.45s; }
  .csstransforms3d .flip {
    width: 100%;
    height: 100%; }

  .csstransforms3d .container > .flip {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.7s 0s;
    -moz-transition: -moz-transform 0.7s 0s;
    transition: transform 0.7s 0s;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center; }
  .csstransforms3d .container > .flip > .front, .csstransforms3d .container > .flip > .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
  .csstransforms3d .container > .flip > .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .csstransforms3d .container > .flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s; }

  .csstransforms3d .container.front-face > .flip {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.7s 1.55s;
    -moz-transition: -moz-transform 0.7s 1.55s;
    transition: transform 0.7s 1.55s; }
  .csstransforms3d #lid {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    z-index: 2;
    -moz-transition: z-index 0s 0.8s;
    -webkit-transition: z-index 0s 0.8s;
    transition: z-index 0s 0.8s; }
  .csstransforms3d .back-face #lid {
    z-index: -1;
    -moz-transition: z-index 0s 1.45s;
    -webkit-transition: z-index 0s 1.45s;
    transition: z-index 0s 1.45s; }

  .csstransforms3d #lid .flip {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.75s 0.8s;
    -moz-transition: -moz-transform 0.75s 0.8s;
    transition: transform 0.75s 0.8s;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top; }
  .csstransforms3d #lid .flip > .front, .csstransforms3d #lid .flip > .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
  .csstransforms3d #lid .flip > .back {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  .csstransforms3d .back-face #lid .flip {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transition-duration: 0.75s;
    -moz-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    transition-delay: 0.7s; }

  .csstransforms3d #letter .flip > div, .csstransforms3d #lid .flip > div, .csstransforms3d .container > .flip > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .csstransforms3d #lid .flip .front, .csstransforms3d .container > .flip > .front {
    padding: 20px 30px;
    text-align: center; }
  .csstransforms3d .container > .flip > .front {
    font-size: 1.125em;
    padding-top: 4.5em;
    padding-bottom: 0;
    background-position: right 10px;
    background-repeat: no-repeat;
    z-index: 0; }
    .csstransforms3d .container > .flip > .front .flip-me {
      position: absolute;
      bottom: .75em;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: inline-block; }
      .csstransforms3d .container > .flip > .front .flip-me:hover {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg); }
  .csstransforms3d header, .csstransforms3d h2.title {
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase; }
  .csstransforms3d h1 {
    font-size: 1.55em; }
  .csstransforms3d #lid .flip .front {
    font-size: 1.5em;
    font-family: "Allura", "Arial Narrow", sans-serif;
    font-weight: 400;
    border-radius: 0 0 40px 40px;
		}
  .csstransforms3d #lid .flip .back {
    border-radius: 40px 40px 0 0;
    border-bottom: none; }
  .csstransforms3d #bb-envelope {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 65%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1; }
  .csstransforms3d #letter {
    width: 360px;
    height: 640px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: 50% 50%;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    position: absolute;
    left: 170px;
    top: -130px;
    z-index: 0;
    -webkit-transition: 0.8s 0s;
    -moz-transition: 0.8s 0s;
    transition: 0.8s 0s;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px; }
  .csstransforms3d #letter > div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0; }
  .csstransforms3d #open-l {
    position: absolute;
    bottom: 1em;
    display: inline-block;
    line-height: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer; }
  .csstransforms3d #flip-me-back, .csstransforms3d #close-l {
    display: block;
    position: absolute;
    cursor: pointer; }
  .csstransforms3d #flip-me-back {
    right: 20px;
    top: 20px; }
  .csstransforms3d #close-l {
    right: 6px;
    top: 6px; }
  .csstransforms3d .page-left .front, .csstransforms3d .page-right .back  {
    z-index: 0;
		border-radius:0 20px 20px 0;
		box-shadow:0;
		-webkit-transition:.5s;
		-moz-transition:.5s;
		transition:.5s;
 	}
	.csstransforms3d .page-left .back, .csstransforms3d .page-right .front {
		border-radius: 20px 0 0 20px;
	}
  .csstransforms3d #letter .page-right .front {
    display: block;
    padding-top: 210px;
    font-family: "Allura", "Arial Narrow", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.5em; }
    .csstransforms3d #letter .page-right .front img {
      border-radius: 100%; }
  .csstransforms3d #letter .box-wrap {
    padding: 30px; }
  .csstransforms3d .page-content {
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .csstransforms3d .back-face #letter {
    top: -930px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.8s 1.45s;
    -moz-transition: 0.8s 1.45s;
    transition: 0.8s 1.45s; }
  .csstransforms3d .page-left {
    z-index: 100; }
  .csstransforms3d .page-right {
    z-index: 80; }
  .csstransforms3d #letter .page-middle {
    z-index: 60; }

  .csstransforms3d .page-left {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.75s 0.4s;
    -moz-transition: -moz-transform 0.75s 0.4s;
    transition: transform 0.75s 0.4s;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%; }
  .csstransforms3d .page-left > .front, .csstransforms3d .page-left > .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }

.csstransforms3d .page-left.open-hover {
	-webkit-transform: rotateY(-6deg);
	-webkit-transition-duration: 0.15s;
	-moz-transform: rotateY(-6deg);
	-moz-transition-duration: 0.15s;
	transform: rotateY(-6deg);
	transition-duration: 0.15s;
}

.csstransforms3d .page-left.open-hover .front, .csstransforms3d .page-right.close-hover .back {
	box-shadow:10px 0 10px rgba(0,0,0,.1);
}

  .csstransforms3d .page-left > .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }

  .csstransforms3d #letter.opened .page-left {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition-duration: 0.75s;
    -moz-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s; }

  .csstransforms3d .page-right {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.75s 0s;
    -moz-transition: -moz-transform 0.75s 0s;
    transition: transform 0.75s 0s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  .csstransforms3d .page-right > .front, .csstransforms3d .page-right > .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
  .csstransforms3d .page-right > .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .csstransforms3d #letter.opened .page-right {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition-duration: 0.75s;
    -moz-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 0.4s; }

  .csstransforms3d footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent; } }
.ie-fix .meta, .ie-fix .container, .ie-fix footer {
  width: 680px; }
.ie-fix .box-wrap, .ie-fix .page-left .front {
  padding: 30px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .small-scr {
    width: 90px;
    height: 90px; } }
/*-----------------------------------------------------------------*/
/*------------------------- 	  LIBRARIES    ----------------------*/
/*-----------------------------------------------------------------*/
.jspPane {
  margin-left: 0!important; }

@media only screen and (max-width: 1139px), only screen and (max-height: 759px) {
  .page-content {
    width: 100%!important; }

  .jspContainer {
    overflow: hidden;
    position: relative;
    width: 100%!important;
    height: 100%!important; }

  .jspPane {
    width: auto!important; }

  .jspVerticalBar, .jspCap, .jspHorizontalBar .jspCap, .jspTrack, .jspDrag {
    display: none; } }
@media only screen and (min-width: 1140px) and (min-height: 760px) {
  .jspScrollable {
    width: 320px!important; }

  .jspContainer {
    overflow: hidden;
    position: relative;
    width: 320px!important;
    height: 580px!important; }

  .jspPane {
    position: absolute;
    width: 300px!important;
    margin-left: 0!important; }

  .jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%; }

  .jspVerticalBar *,
  .jspHorizontalBar * {
    margin: 0;
    padding: 0; }

  .jspCap {
    display: none; }

  .jspHorizontalBar .jspCap {
    float: left; }

  .jspTrack {
    position: relative; }

  .jspDrag {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer; }

  .jspHorizontalBar .jspTrack,
  .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%; } }
@font-face {
  font-family: 'invitation';
  src: url("../fonts/invitation.eot");
  src: url("../fonts/invitation.eot?#iefix") format("embedded-opentype"), url("../fonts/invitation.woff") format("woff"), url("../fonts/invitation.ttf") format("truetype"), url("../fonts/invitation.svg#invitation") format("svg");
  font-weight: normal;
  font-style: normal; }

.fancybox, .icon-location, .icon-calendar, .icon-spinner, .icon-arrow-right, .icon-arrow-left, .icon-busy, .icon-cancel-circle, .icon-tag, .icon-envelop, .icon-envelop-opened, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-search, .icon-map, .icon-pencil, .icon-images, .icon-enter, .icon-exit {
  font-family: 'invitation';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.icon-location:before {
  content: "\e000"; }

.icon-calendar:before {
  content: "\e001"; }

.icon-spinner:before {
  content: "\e002"; }

.icon-arrow-right:before {
  content: "\e003"; }

.icon-arrow-left:before {
  content: "\e004"; }

.icon-busy:before {
  content: "\e008"; }

.icon-cancel-circle:before {
  content: "\e009"; }

.icon-tag:before {
  content: "\e00b"; }

.icon-envelop:before {
  content: "\e00c"; }

.icon-envelop-opened:before {
  content: "\e010"; }

.icon-google-plus:before {
  content: "\e00e"; }

.icon-facebook:before {
  content: "\e00d"; }

.icon-twitter:before {
  content: "\e005"; }

.icon-search:before {
  content: "\e011"; }

.icon-map:before {
  content: "\e012"; }

.icon-pencil:before {
  content: "\e013"; }

.icon-images:before {
  content: "\e014"; }

.icon-enter:before {
  content: "\e006"; }

.icon-exit:before {
  content: "\e007"; }

/* fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
  overflow: hidden; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

.fancybox, .icon-images {
  cursor: pointer; }

.no-touch .fancybox {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  margin: 0.65em auto;
  color: #fff;
  font-size: 1.5em; }
.no-touch .fancybox img {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0; }
.no-touch .fancybox:hover img {
  opacity: .5; }
.no-touch .fancybox:after {
  content: "\e011";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  margin: auto;
  text-align: center;
  line-height: 60px;
  border-radius: 60px;
  visibility: hidden; }
.no-touch .fancybox:hover:after {
  visibility: visible; }

/*-----google maps---------*/
.map {
  display: none;
  width: 280px;
  height: 280px;
  margin: 20px auto;
}
/*----------------------------------------------------------*/
/*-----------------------colors-----------------------------*/
/*----------------------------------------------------------*/
html {
  background: #cbc4b2; }

body {
  color: #675956; }

a {
  color: #83d8e4; }

a:hover {
  color: #6ed1df; }

strong {
  color: #efaeca; }

.social a {
  background: #fff; }
  .social a:hover {
    color: #fff;
    background: #83d8e4; }

.meta {
  background-color: #eff1f1;
  border: 10px #f6f8f8 solid;
  border-bottom: 0; }
  .meta .time {
    color: #848484; }

.personal-info .first-name {
  color: #efaeca; }

.container > .flip > .front {
  background-color: #eff1f1;
  border: 10px #f6f8f8 solid;
  border-top: 0;
  color: #fff; }
  .container > .flip > .front h1 {
    color: #efaeca;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .container > .flip > .front h2 {
    color: #675956; }

#letter .back {
  background-color: #fbf8f9; }
#letter .front, #letter .page-middle {
  background: white; }

#letter .time {
  color: #efaeca; }

.us:before {
  background: #efaeca; }

.page-left .big-icon, .page-right .big-icon {
  background: #fff;
  color: #efaeca; }

.page-middle .big-icon {
  color: #fff;
  background: #83d8e4;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .page-middle .big-icon:hover {
    background: #6ed1df; }

.page-middle img {
  border: 10px solid white; }

footer {
  color: #fff;
  background: #efaeca; }

.map {
  border: 10px solid white; }

@media only screen and (min-width: 620px) {
  html.no-touch {
    background: #cbc4b2 url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
@media only screen and (min-width: 1140px) and (min-height: 760px) {
  .csstransforms3d .meta .time {
    color: #fff;
    background: rgba(131, 216, 228, 0.6); }
  .csstransforms3d #content {
    background: #d2e7f0;
    box-shadow: inset 0 10px 30px -10px rgba(134, 190, 215, 0.3), inset 0 1px 0 rgba(131, 216, 228, 0.6), inset 0 2px 0 #f1f7fa; }
  .csstransforms3d #lid .flip .front, .csstransforms3d .container > .flip > .front {
    background-color: #eff1f1;
    border: 10px #f6f8f8 solid;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.6); }
  .csstransforms3d .container > .flip > .front {
    background-image: url("../images/stamp.png"); }
  .csstransforms3d #lid .flip {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25); }
  .csstransforms3d .container > .flip > .front .flip-me {
    color: #fff;
    background: #83d8e4;
    border: 3px solid white; }
  .csstransforms3d #lid .flip .back {
    background: #d2e7f0;
    border: 35px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0;
    box-shadow: inset 0 10px 30px 10px rgba(134, 190, 215, 0.2); }
  .csstransforms3d #bb-envelope {
    background-color: #eff1f1;
    border: 10px #f6f8f8 solid;
    box-shadow: 0 -3px 4px -2px rgba(0, 0, 0, 0.2); }
  .csstransforms3d #open-l {
    color: #fff;
    background: #83d8e4;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .csstransforms3d #open-l:hover {
      background: #6ed1df; }
  .csstransforms3d #flip-me-back:hover, .csstransforms3d #close-l:hover {
    color: #6ed1df; }
  .csstransforms3d footer {
    color: #675956; }

/*------scroll-------*/
  .jspTrack {
    background: #b3a6a3; }

  .jspDrag {
    background: #83716d; } }
.icon-images {
  color: #fff;
  background: #83d8e4;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .icon-images:hover {
    background: #6ed1df; }

.no-touch .fancybox:after {
  background: #83d8e4; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1140px) and (min-height: 760px), only screen and (min--moz-device-pixel-ratio: 1.5) and (min-width: 1140px) and (min-height: 760px), only screen and (min-device-pixel-ratio: 1.5) and (min-width: 1140px) and (min-height: 760px) {
  .csstransforms3d .container > .flip > .front {
    background-image: url("../images/stamp@2x.png");
    background-size: 139px 133px; } }
.ie-fix {
  background: url("../images/bg.jpg") center center fixed no-repeat; }

  
/*-----FORM CONTACT -----*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
	display:none;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#nombre{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#nombre:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#nuCelular{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

.aux{
	display:none;
}